








    <form action="/login" method="post">
      <input type="text" name="user_name" placeholder="Your username">
      <input type="text" name="password" placeholder="Your password">
      <input type="text" name="email" placeholder="Your email address">
      <input type="submit">SUBMIT</input>
    </form> 
